/* resize image */
.topimage {
    width: 1200px;
}

/* all */
body {
    width: 1200px; /* 好きな幅 */
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

/* sub */
.subvisual {
    width: 100%;
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
}

/* non-common */
#subvisual4 {
    background-image: url('img/ev_takamatsu_180.png');
    /*透過75% 横幅1200 水平反転のワイド版を利用*/
}


/* sub_txt 要調整 -non-common-*/
.sub_txt {
    position: relative;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 110px 0 0 0;
    box-sizing: border-box;
}
.sub_txt h4 {
    font-size: 16px;
    color: #2d1f1f;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.sub_txt h3 {
    font-size: 45px;
    color: #2d1f1f;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.05em;
    margin: 0 0 0 0;
}
.sub_txt p {
    font-size: 25px;
    color: #2d1f1f;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.05em;
    margin-top: 0
}
/* sub_host -non-common- */
.sub_host h5 {
    font-size: 26px;
    font-weight: 500;
    color: #111111;
    margin: 0 0 15px 0;
    text-align: right;
}

/* sub_host */
.sub_host a {
    display: inline-block;
}
.sub_host a:last-child {
    margin: 0 0 0 15px;
}

/* program */
.orange {
    background: #ed9b0b;
    text-align: center
}
.skyblue {
    background: #019df8;
    color:ivory;
    text-align: center
}
.program table tbody td.time {
    text-align: center;
    border-right: 1px solid #ddd;
}
.program table tbody td.normal {
    font-weight: 600;
}
.program table {
}
.program table thead th {
    font-size: 17px;
    font-weight: 600;
    color: #333;
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    background: #dbe8e7;
}
.program table tbody td {
    font-size: 17px;
    font-weight: 500;
    color: #333;
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
}
.program table .room {
    font-size: 15px;
    font-weight: 600;
    margin: 8px 0 0 0;
    color: #217992;
}
.program table .points {
    font-size: 15px;
    font-weight: 500;
    margin: 8px 0 0 0;
}
.program table .speaker {
    font-size: 15px;
    font-weight: 500;
    margin: 8px 0 0 0;
}
.program table .gray {
    background: #f2f2f2;
}

/* footer */
#footer {
}
#footer_content {
    width: auto;
    padding: 30px 15px;
}
#footer_content .address address {
    font-size: 13px;
    line-height: 20px;
}
#footer_content .address address b {
    font-size: 13px;
}
#footer_content .address address p > span.indent {
    display: none;
}
#footer_content .address address > span {
    display: block;
}
#footer_content .address address > span.bar {
    display: none;
}


/* banner slide */
.banner_slide_wrap {
    width: 1400px;
    margin: 0 auto;
    padding: 20px 0;
}
.banner_slider {
    position: relative;
}
.banner_slider ul {
    *zoom: 1;
}
.banner_slider ul:after {
    content: "";
    display: block;
    clear: both;
}
.banner_slider ul li {
    display: inline-block;
    width: 280px;
    height: 100px;
    padding: 0;
    text-align: center;
    position: Relative;
}
.banner_slider ul li a {
    position: static;
    display: block;
    width: 100%;
    height: 100%;
}
.banner_slider ul li img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.banner_slider_program ul li img {
    width: auto;
    height: auto;
}

#footer_content {
    text-align: center;
}

.registration {
    text-align: center;
}

.banner_slider {
    text-align: center;
}
